.sodanine {
    margin-top: 2%;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

.text1 {
    text-align: center;
    color: rgb(255, 0, 149);
    padding-bottom: 7%;

}

h2 {
    padding-bottom: 2%;
    font-family: 'Nova Mono', monospace;
    letter-spacing: 3px;
    font-size: 25px;

}

.text1 strong {
    color: white;
}

.text1 span {
    color: rgb(0, 247, 255);
}

.links {
    text-align: center;
    padding-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;

}



.instagram {
    text-align: center;
    font-family: 'Nova Mono', monospace;
    margin-bottom: 0%;
    letter-spacing: 1px;

}

@media screen and (min-width: 520px) {
    .instagram {
        padding-left: 30%;
        padding-right: 30%;
    }
}