.sodanine {
    padding-top: 25%;
    padding-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.text1 {
    text-align: center;
    color: rgb(255, 0, 149);
    padding-bottom: 7%;

}

h2 {
    padding-bottom: 5%;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 30px;

}

.text1 strong {
    color: white;
}

.text1 span {
    color: rgb(0, 247, 255);
}

.links {
    text-align: center;
    padding-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.instagram {
    text-align: center;
    padding-bottom: 0%;
    margin-left: 30%;
    margin-right: 30%;
}