@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}



.text1 {
	text-align: center;
	color: rgb(255, 0, 149);

}

h2 {
	font-family: monospace;
	letter-spacing: 3px;
	font-size: 30px;

}

.text1 strong {
	color: white;
}

.text1 span {
	color: rgb(0, 247, 255);
}



.logo-sodanine {
	padding-top: 15%;
	padding-left: 25%;
	padding-right: 25%;

}





.banner-container {
	background-color: black;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	height: 970px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}


img,
video,
iframe,
embed,
object,
a {
	max-width: 100%;
	height: auto;
}